@page "/students"
@inject IStudentService StudentService
@inject NavigationManager NavigationMenager

<PageTitle> Students </PageTitle>

<h3>Students</h3>

<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Address</th>
            <th>Login</th>
            <th>Pasword</th>
            <th>Role</th>
            <th>Parent First Name</th>
            <th>Parent Last Name</th>
            <th>Class Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in StudentService.Students )
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Address</td>
                <td>@student.User.Login</td>
                <td>@student.User.PasswordHash</td>
                <td>ROLE</td>
                <td>@student.Parent.FirstName</td>
                <td>@student.Parent.LastName</td>
                <td>@student.Class.ClassName</td>
                <td>
                    <button class="btn btn-primary" @onclick="(()=>ShowStudent(student.StudentID))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" @onclick="CreateStudent">Create New</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await StudentService.GetStudents();
    }
    void ShowStudent(int id)
    {
        NavigationMenager.NavigateTo($"student/{id}");
    }
    void CreateStudent()
    {
        NavigationMenager.NavigateTo("/student");
    }
}
