@page "/substitute_add/{id:int}"
@inject ISubstituteService SubstituteService
@inject ILogRegisterService LogRegisterService
@inject UserLogService userState

<PageTitle>Add Substitute</PageTitle>
<h3>Add Substitute</h3>
@*tablica bo chce spojnosc zachowac*@
@*Wybor przedmiotu jednak bo nauczyciel jest przypisany do przedmiotu*@
<table class="table">
    <thead>
        <tr>
            <th>Enrollment Date</th>
            <th>Class Name</th>
            <th>Class Room</th>
            <th>Subject Name</th>
            <th>Add substitute</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@enrollment.Date</td>
            <td>@enrollment.Class.ClassName</td>
            <td>@enrollment.ClassRoom</td>
            <td>@enrollment.Subject.SubjectName @enrollment.Subject.Teacher.FirstName - @enrollment.Subject.Teacher.LastName</td>
            <td>
                <InputSelect @bind-Value="enrollment.SubjectID">
                    <option value="0">SELECT</option>
                    @foreach (var subject in SubstituteService.AvailableSubjects)
                    {
                        <option value="@subject.SubjectID">@subject.SubjectName @subject.Teacher.FirstName - @subject.Teacher.LastName</option>
                    }
                </InputSelect>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" type="submit" @onclick="HandleSubmit">Create new</button>
@code {
    [Parameter]
    public int ID { get; set; }
    Enrollment enrollment = new Enrollment();

    protected override async Task OnParametersSetAsync()
    {
        enrollment = await SubstituteService.GetEnrollmentById((int)ID);
        await SubstituteService.GetAvailableSubjects(enrollment.Date, enrollment.EndDate);

    }
    async Task HandleSubmit()
    {
        LogRegister log = new LogRegister
            {
                UserId = userState.Id,
                FirstName = userState.FirstName,
                LastName = userState.LastName,
                Date = DateTime.Now,
                Log = $"User {userState.FirstName} {userState.LastName} created a substitute at {DateTime.Now}."
            };
        await LogRegisterService.CreateLog(log);
        await SubstituteService.CreateSubstitute(enrollment);
    }
}
