@page "/teacher"
@page "/teacher/{id:int}"
@inject ITeacherService TeacherService

@if (ID == null)
{
    <PageTitle>Add new Teacher</PageTitle>
    <h3>Add new Teacher</h3>
}
else
{
    <PageTitle>Edit @teacher.FirstName @teacher.LastName</PageTitle>
    <h3>Edit @teacher.FirstName @teacher.LastName</h3>
}


<EditForm Model="teacher" OnSubmit="HandleSubmit">
    <div>
        <label for="firstname">First Name</label>
        <InputText id="firstname" @bind-Value="teacher.FirstName" class="form-control"></InputText>
    </div>
    <div>
        <label for="lasttname">Last Name</label>
        <InputText id="lastname" @bind-Value="teacher.LastName" class="form-control"></InputText>
    </div>
    <div>
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="teacher.Email" class="form-control"></InputText>
    </div>
    <div>
        <label for="phonenumber">Phone Number</label>
        <InputText id="phonenumber" @bind-Value="teacher.PhoneNumber" class="form-control"></InputText>
    </div>
    <div>
        <label for="login">Login</label>
        <InputText id="login" @bind-Value="teacher.Login" class="form-control"></InputText>
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="teacher.Password" class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@btnText</button>
    <button type="button" class="btn btn-danger" @onclick="DelateTeacher">Delete Teacher</button>

</EditForm>


@code {
    [Parameter]
    public int? ID { get; set; }

    Teacher teacher = new Teacher();
    string btnText = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        btnText = ID == null ? "Save New Teacher" : "Update Teacher";
        await TeacherService.GetTeachers();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (ID == null)
        {

        }
        else
        {
            teacher = await TeacherService.GetTeacherByID((int)ID);
        }
    }
    async Task HandleSubmit()
    {
        if (ID == null)
        {
            teacher.TeacherRole = "Teacher";
            await TeacherService.CreateTeacher(teacher);
        }
        else
        {
            await TeacherService.UpdateTeacher(teacher);
        }
    }
    async Task DelateTeacher()
    {

        await TeacherService.DeleteTeacher(teacher.TeacherID);

    }

}
