@page "/teachermainpagecl"
@inject NavigationManager NavigationManager


<div class="CLtable">

    <div class="CLtableheader">
        <div class="CLtitle">Current Lesson</div>
    </div>

    <div class="CLdisplay">

       <div class="CLlesson">
           <div>Lesson : 2</div>
       </div>
       <div class="CLdata">
           <div>Maths (Grade 6)</div>
       </div>

       <div class="CLsubdisplay">

            <div class="CLtablerow">
                <button class="CLbutton" style="background-color: rgb(91,208,145)" @onclick="@(()=>NavigationManager.NavigateTo("/attendances"))">
                    <div class="gg-check-r"></div>
                    <div class="CLbuttonname">Attendance</div>
                </button>
                <button class="CLbutton" style="background-color: rgb(248,148,56)" @onclick="@(()=>NavigationManager.NavigateTo("/gradesviewteacher"))">
                    <div class="gg-check-o"></div>
                    <div class="CLbuttonname">Grades</div>
                </button>

            </div>


            <div class="CLtablerow">    
                <button class="CLbutton" style="background-color: rgb(91,103,208)" @onclick="@(()=>NavigationManager.NavigateTo("/materials"))">
                    <div class="gg-box"></div>
                    <div class="CLbuttonname">Materials</div>
                </button>
                <button class="CLbutton" style="background-color: rgb(4,98,118)" @onclick="@(()=>NavigationManager.NavigateTo("/subjects"))">
                    <div class="gg-add"></div>
                    <div class="CLbuttonname">Subject</div>
                </button>

            </div>

            <div class="CLtablerow">
                <button class="CLbutton" style="background-color: rgb(255,210,63)" @onclick="@(()=>NavigationManager.NavigateTo("/tests"))">
                    <div class="gg-pen"></div>
                    <div class="CLbuttonname">Tests</div>
                </button>
                <button class="CLbutton" style="background-color: rgb(230,95,95)" @onclick="@(()=>NavigationManager.NavigateTo("/notes"))">
                    <div class="gg-pacman"></div>
                    <div class="CLbuttonname">Note</div>
                </button>
            </div>
            
       </div>

    </div>
</div>
@code {

}
