@page "/TeachersLessonMenu/{id:int}"
@inject IEnrollmentService EnrollmentService  
@inject ITeacherService TeacherService
@inject IStudentService StudentService
@inject IGradeService GradeService
@inject IAttendanceService AttendanceService
@inject IGradeNumberService GradeNumberService
@inject IClassService ClassService
@inject NavigationManager NavigationManager
<h3>TeachersLessonMenu</h3>
<div>
@if (SwitchATGR == "GR")
{
    <button @onclick="SwitchViev">Attendence</button>
    <button @onclick="GiveGradesToAll">Give Grades To All</button>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>GradeWeight</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input @oninput="FillDescription" /> </th>
                <th><InputNumber @bind-Value=gradeweight min="0" /></th>
            </tr>
        </tbody>
        <button @onclick="AddGrade">SaveGrades</button>
    </table>
}
else
{
    <button  @onclick="SwitchViev">Grades</button>
}
</div>
@if (SwitchATGR == "GR")
{
    <GradeAddEditPopup @ref="popuprefedit"></GradeAddEditPopup>
    <tabe>
        <thead>
            <tr>
                <th>Student</th>
                <th>Edit Grades</th>
                <th>Add Grades</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in segments)
            {
                <tr>
                    <th>@student.student1.FirstName @student.student1.LastName</th>
                    <th>                    
                        @foreach(var grade in student.Grades)
                        {
                            <button @onclick="(()=>EditGrade(grade))">@grade.gradenumber.GradeName</button>
                        }
                    </th>
                    <th>
                        @if (givegradestoall == false)
                        {
                            <div class="col-sm-12 col-lg-2">
                                <select @onchange="(args=>Setgrade(args,student.student1))">
                                    <option value="0">--- No Grade ---</option>
                                    @foreach (var gradevalue in GradeNumberService.GradeNumbers)
                                    {
                                        <option value="@gradevalue.GradeNumberID">@gradevalue.GradeName</option>
                                    }
                                </select>
                            </div>
                        }
                         else
                         {
                            <div class="col-sm-12 col-lg-2">
                                <select @onchange="(args=>Setgrade(args,student.student1))">
                                    <option value="0">--- No Grade ---</option>
                                    @foreach (var gradevalue in GradeNumberService.GradeNumbers)
                                    {
                                        <option value="@gradevalue.GradeNumberID">@gradevalue.GradeName</option>
                                    }
                                </select>
                            </div>
                         }
                    </th>
                </tr>
            }
        </tbody>
    </tabe>
}
else
{
    <button @onclick="Coppyatendenceformlastlesson">Coppy attendence from last lesson</button>
    <tabe>
        <thead>
            <tr>
                <th>Student</th>
                <th>Attendence</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in segments)
            {
                <tr>
                    <th>@student.student1.FirstName @student.student1.LastName</th>
                    @if(student.attendance == null) 
                    {
                        <th>
                            <div class="col-sm-12 col-lg-2">
                        <select name="" id="" class="fluent-input" @onchange="(args=>SelectAttendenceState(args ,student.student1))">
                            <option value="" disabled selected>not selected</option>
                            <option value="Present">Present</option>
                            <option value="Absent">Absent</option>
                            <option value="Late">Late</option>
                            <option value="Excused">Excused</option>
                        </select>
                            </div>
                        </th>

                    }else
                    {

                         <th>
                                <div class="col-sm-12 col-lg-2">
                                    <select name="" id="" class="fluent-input" value ="@student.attendance.Description"  @onchange="(args=>SelectAttendenceState(args ,student.student1))">
                                        <option value="Present">Present</option>
                                        <option value="Absent">Absent</option>                                    
                                        <option value="Late">Late</option>
                                        <option value="Excused">Excused</option>
                                    </select>
                                </div>
                         </th>
                      

                    }

                </tr>
            }
        </tbody>
    </tabe>
    <button @onclick="SaveAttendence">SaveAttendence</button>
}

@code {
    private GradeAddEditPopup popuprefedit;
    [Parameter]
    public int? id { get; set; }
    string Roles;
    string SwitchATGR = "AT";
    string description = string.Empty;
    string weight = string.Empty;
    bool givegradestoall = false;
    int ID;
    int i = 0;
    int gradeweight = 1;
    int studentidforgrade;
    int? Id = null;
    Teacher teacher = null;
    Enrollment enrollment = new Enrollment();
    Student tempstudent =new Student();
    Grade gradetoadd = new Grade() ;
    IList<Student> students = new List<Student>();
    IList<Segment> segments = new List<Segment>();
    Attendance? attendance = new Attendance();
    GradeNumber? gradeNumberforfunction = new GradeNumber();
    int? gradeidforfunction = null;
    public class Segment
    {
        public Student student1 { get; set; }
        public IList<Grade> Grades { get; set; } = new List<Grade>();
        public Attendance? attendance { get; set; }
        public GradeNumber? tempgradenumber;
    }

    protected override async Task OnInitializedAsync()
    {
        await GradeNumberService.GetGradeNumbers();
        await GradeService.GetGrades();
        await TeacherService.GetTeachers();
        await EnrollmentService.GetEnrollments();
        if (id != null)
        {
            enrollment = await EnrollmentService.GetEnrollmentByID((int)id);
        }
        await AttendanceService.GetAttendances(); 
        await StudentService.GetStudents();
        await getstudentList();        

    }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    async Task FillDescription(ChangeEventArgs args)
    {
        description = args.Value.ToString();
    }


    async Task SetGradeValue(ChangeEventArgs args)
    {
        weight = args.Value.ToString(); //studentidforgrade to tu powinno byc che tylko cyfry
    }


    async Task GetTempStudent(ChangeEventArgs args ,Student student)
    {
        weight = args.Value.ToString(); //studentidforgrade to tu powinno byc che tylko cyfry
        tempstudent = student;
    }

    private async Task GetClaimsGetID()
    {
        var user = (await authenticationState).User;
        foreach (var claim in user.Claims)
        {
            if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")
            {
                ID = Int32.Parse(claim.Value);
            }
            if (claim.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
            {
                Roles = claim.Value;
            }
        };

        if (Roles == "Teacher")
        {
            foreach (var teacherpom in TeacherService.Teachers)
            {
                if (teacherpom.TeacherID == ID)
                {
                    Id = teacherpom.TeacherID;
                    teacher = teacherpom;
                }
            }

        }
    }

    async Task getstudentList()
    {

        foreach(var ListStudent in StudentService.Students)
        {
            if(ListStudent.ClassID == enrollment.ClassID)
            {
                students.Add(ListStudent);
            }
        }
        foreach (var ListStudent in students)
        {


            segments.Add(new Segment { student1 = ListStudent, tempgradenumber = null});
            foreach (var grade in GradeService.Grades)
            {
                Console.WriteLine(grade.StudentID + "Grade StudentID");
                Console.WriteLine(ListStudent.StudentID + "Student id");
                Console.WriteLine(i + "i");
                if(grade.StudentID == ListStudent.StudentID)
                {
                    if(grade.SubjectID == enrollment.SubjectID)
                    {
                        foreach (var GradeNumberGroup in GradeNumberService.GradeNumbers)
                        {
                            if (grade.gradenumberid == GradeNumberGroup.GradeNumberID)
                            {
                                grade.gradenumber = GradeNumberGroup;
                                segments[i].Grades.Add(grade);
                            }
                        }

                    }
                }
            }
            foreach (var attendance in AttendanceService.Attendances)
            {
                if(attendance.EnrollmentID == enrollment.EnrollmentID)
                {
                    if (attendance.Student.StudentID == ListStudent.StudentID)
                    {
                        segments[i].attendance = attendance;
                    }
                }
            }
            i++;
        }
        i = 0;
    }
    async Task SwitchViev()
    {
        if (SwitchATGR=="AT")
        {
            SwitchATGR = "GR";
        }
        else
        {
            SwitchATGR = "AT";
        }
    }

    async Task CoppyAttendence()
    {
        @foreach (var student in students)
        {
            //Jak wpadne jak dodaj kopiowanie obecnosci
        }
    }

    async Task AddGrade()
    {
        foreach (var seg in segments)
        {
            if(seg.tempgradenumber!=null)
            {
                gradetoadd.Student = seg.student1; 
                gradetoadd.StudentID = seg.student1.StudentID; Console.WriteLine(enrollment.Subject.SubjectID);
                gradetoadd.Subject = enrollment.Subject; 
                gradetoadd.SubjectID = enrollment.Subject.SubjectID;
                gradetoadd.Description = description; 
                gradetoadd.GradeWeight = gradeweight; 
                gradetoadd.gradenumber = seg.tempgradenumber;
                gradetoadd.gradenumberid = seg.tempgradenumber.GradeNumberID;
                await GradeService.CreateGrade(gradetoadd);
                foreach (var seg2 in segments)
                {
                    if (seg2.student1.StudentID == tempstudent.StudentID)
                    {
                        seg2.Grades.Add(gradetoadd); //Powinienes tu dodac lastgradeadd check id jakby nauczyciel chcial zmienic grade na inny jezeli nie chcesz refresu co dodana ocene
                    }
                }
            }
        }


    }

    async Task ChangeState(Student student)  //na razie do niczego nie uwzywane jak sie nie przuyda usun
    {
        foreach(var studen1 in segments)
        {
            if (studen1.student1.StudentID == student.StudentID)
            {
                break;
            }
        }
    }

    async Task SelectAttendenceState(ChangeEventArgs e,Student student)
    {
        attendance = null;
        attendance = new Attendance();
        foreach (var studen2 in segments)
        {
            if (student.StudentID == studen2.student1.StudentID)
            {
                if (e.Value.ToString() != null)
                {
                    if (studen2.attendance == null)
                    {
                        attendance.Description = e.Value.ToString();
                        attendance.Student = studen2.student1;
                        attendance.StudentID = studen2.student1.StudentID;
                        attendance.Enrollment = enrollment;
                        attendance.EnrollmentID = enrollment.EnrollmentID;
                        attendance.CreatoinDate = enrollment.Date;
                        await AttendanceService.CreateAttendance(attendance);
                        studen2.attendance = attendance;
                    }
                    else
                    {
                        studen2.attendance.Description = e.Value.ToString();
                    }

                }
                break;
            }
        }

    }

    async Task GiveGradesToAll()
    {
        if (givegradestoall == true)
        {
            givegradestoall = false;
        }
        else
        {
            givegradestoall = true;
        }
    }

    async Task Setgrade(ChangeEventArgs e,Student setgradestudent)
    {
        gradeidforfunction = Convert.ToInt32(e.Value.ToString());
        if (gradeidforfunction == 0)
        {
            gradeidforfunction = null;
        }
        foreach (var segstudent in segments)
        {
            if (setgradestudent.StudentID==segstudent.student1.StudentID)
            {
                if (gradeidforfunction != null)
                {
                    gradeNumberforfunction = await GradeNumberService.GetGradeNumberById(gradeidforfunction.Value); ;
                    segstudent.tempgradenumber = gradeNumberforfunction;
                }
                else
                {
                    segstudent.tempgradenumber = null;
                }
            }
        }
    }

    async Task Coppyatendenceformlastlesson()
    {

        foreach (var studentformcoppyattendence in segments)
        {
            Attendance attendancevar = new Attendance();
            attendancevar.Description = await AttendanceService.GetAttendanceByStudent(studentformcoppyattendence.student1.StudentID, enrollment);
            if (attendancevar.Description != null && attendancevar.Description.Length>=1)
            {
                attendancevar.EnrollmentID = enrollment.EnrollmentID;
                attendancevar.StudentID = studentformcoppyattendence.student1.StudentID;
                attendancevar.CreatoinDate = enrollment.Date;
                studentformcoppyattendence.attendance = attendancevar;
            }
        }

    }

    async Task SaveAttendence()
    {
        foreach (var studentformcoppyattendence in segments)
        {
            if(studentformcoppyattendence.attendance != null)
            {
                if(attendance.AttendanceID!=0)
                {
                    await AttendanceService.UpdateAttendance(studentformcoppyattendence.attendance);
                }
                else
                {
                    await AttendanceService.CreateAttendance(studentformcoppyattendence.attendance);
                }
            }
        }
        StateHasChanged();
    }
    private void EditGrade(Grade grade)
    {
        popuprefedit.ShowEditetGrade(grade);
    }
}
