@page
@model Dziennik.Pages.Attendances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Enrollment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Attendance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment.EnrollmentID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AttendanceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AttendanceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AttendanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
