@page
@model Dziennik.Pages.Grades.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade[0].GradeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade[0].GradeWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade[0].Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Grade) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GradeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GradeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GradeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GradeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
